# SEGURIDAD: Bloquea paquetes con menos de 7 días de vida (10080 minutos) para evitar malware recién subido
min-release-age=10080

# BLOQUEAR SCRIPTS DE MALWARE (El vector #1 de ataque: Evita que un paquete ejecute código en tu terminal al instalarse
ignore-scripts=true

# FIJAR VERSIONES EXACTAS: Evita que se ponga el símbolo ^. Siempre instalará la versión fija
save-exact=true

# VERIFICACIÓN DE MOTOR DE NODE: Obliga a que todos en el proyecto usen la misma versión de Node
engine-strict=true

# Impide que las dependencias usen URLs externas sospechosas
block-exotic-subdeps=true

# Activa el modelo de seguridad de Node para restringir acceso al sistema
#node-options="--permission"

# Política de confianza: no permitir bajar el nivel de verificación
trust-policy=no-downgrade

# Excluir paquetes específicos de la política de confianza (ejemplo: chokidar@4.0.3 tiene vulnerabilidades conocidas)
trust-policy-exclude[] = chokidar@4.0.3